@font-face {
    font-family: 'AdobeCaslonProItalic';
    src: url('../fonts/adobe_caslon_pro_italic-webfont.eot');
    src: url('../fonts/adobe_caslon_pro_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adobe_caslon_pro_italic-webfont.woff') format('woff'),
         url('../fonts/adobe_caslon_pro_italic-webfont.ttf') format('truetype'),
         url('../fonts/adobe_caslon_pro_italic-webfont.svg#AdobeCaslonProItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AdobeCaslonProRegular';
    src: url('../fonts/adobe_caslon_pro-webfont.eot');
    src: url('../fonts/adobe_caslon_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adobe_caslon_pro-webfont.woff') format('woff'),
         url('../fonts/adobe_caslon_pro-webfont.ttf') format('truetype'),
         url('../fonts/adobe_caslon_pro-webfont.svg#AdobeCaslonProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, #page, #page-wrapper
{
	height: 100%;
}

*, body
{
	color: #333;
	margin: 0;
	padding: 0;
}

body
{
	font-size: 14px;
	font-family: AdobeCaslonProItalic, sans-serif; 
}

a 
{
	text-decoration: none;
	color: #333;
}

a.active, li a.active
{
	color: #c69;

}

#block-menu-menu-menu-sections ul
{
	padding: 0;
	margin: 40px 0 0;
}

#block-menu-menu-menu-sections ul ul
{
	display: none;
	padding: 0;
	margin: 15px 0; 
}

#block-menu-menu-menu-sections li, #block-menu-menu-external-links li
{
	list-style: none;
	padding: 0;
	margin: 0 0 15px 0;
	font-size: 16px;
}

#block-menu-menu-menu-sections li li, #block-menu-menu-external-links li li
{
	font-size: 14px;
}

body .node-image h1
{
	font-family: AdobeCaslonProRegular, sans-serif; 
	font-size: 14px;
	font-weight: normal;
}

.node-image .descr
{
	font-style: italic;
}
/* carousel */

.images-carousel .jcarousel-clip
{
	overflow: hidden;
}

body.page-node.not-front #page
{
	background: url(../img/lemur.jpg) no-repeat bottom left;
}

body.front
{
	background: url(../img/fox.jpg) no-repeat bottom right;
}

#first-section
{
	padding-top: 50px;
}

#carousel-scroll
{
	float: right;
}

.vertical
{
	position: relative;
}


.vertical div.description
{
	position: absolute;
	right: 0;
	bottom: 0;
}

.vertical img
{
	margin-right: 40px;
}

.horizontal img
{
	margin-bottom: 15px;
}