.images-carousel .jcarousel-container {

}

.images-carousel .jcarousel-direction-rtl {
	direction: rtl;
}

.images-carousel.jcarousel-container-horizontal {
    width: 800px;
}

.images-carousel .jcarousel-clip {
    overflow: hidden;
}

.images-carousel .jcarousel-clip-horizontal {
    width:  800px;
}

.images-carousel .jcarousel-item {
    width: 800px;
}

.images-carousel .jcarousel-item-horizontal {
}

.images-carousel .jcarousel-direction-rtl .jcarousel-item-horizontal {
}

/**
 *  Horizontal Buttons
 */
.images-carousel .jcarousel-next-horizontal {
    background-image: url(../img/right.gif);
	margin: 0 0 0 15px;
	width: 9px;
	height: 11px;
	cursor: pointer;
	float: left;
}

.images-carousel .jcarousel-next-horizontal:hover,
.images-carousel .jcarousel-next-horizontal:focus {

}

.images-carousel .jcarousel-next-horizontal:active {

}

.images-carousel .jcarousel-next-disabled-horizontal,
.images-carousel .jcarousel-next-disabled-horizontal:hover,
.images-carousel .jcarousel-next-disabled-horizontal:focus,
.images-carousel .jcarousel-next-disabled-horizontal:active {
    cursor: default;
	background-image: url(../img/right-dis.gif);
}

.images-carousel .jcarousel-prev-horizontal {
   	background-image: url(../img/left.gif);
	width: 9px;
	height: 11px;
	cursor: pointer;
	float: left;
}

.images-carousel .jcarousel-prev-horizontal:hover, 
.images-carousel .jcarousel-prev-horizontal:focus {

}

.images-carousel .jcarousel-prev-horizontal:active {

}

.images-carousel .jcarousel-prev-disabled-horizontal,
.images-carousel .jcarousel-prev-disabled-horizontal:hover,
.images-carousel .jcarousel-prev-disabled-horizontal:focus,
.images-carousel .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
	background-image: url(../img/left-dis.gif);
}

